.info
  .info-header
    %span How
    %span.brand-color MemesGate
    %span Works
  .info-body
    .info-items
      .info-item
        %div
          1. Submit Your MemeCoin
        %span
          Ready to unleash your meme project into the MemeVerse?
          It’s simple: head over to our List Your Memecoin page.
          There, you'll submit basic info about your project — links to your socials, details about the coin, and what makes it awesome.
          No complicated paperwork, no gatekeeping — just pure meme energy.

      .info-item
        %div
          2. Moderation & Listing Fee
        %span
          After submission, your project will go through a quick moderation to make sure it fits the vibe and the minimal quality standards of MemesGate.
          Once approved, you’ll pay a one-time $15 listing fee.
          Simple. Transparent. Fair.

      .info-item
        %div
          3. Boosting the Main Coin
          %span.brand-color This Is Why We Are Cool
        %span
          Every new project listed on MemesGate strengthens the ecosystem and contributes to the growth of our main coin.
          As new memecoins thrive, so does MemesGate — lifting everyone involved.
          You're not just listing — you’re joining a growing movement.

      .info-item
        %div
          4. Liquidity Commitment
        %span
          With each step forward, we’re fueling our liquidity pools to guarantee stability, healthy trading, and long-term sustainability.
          Our success is built together — and liquidity is the lifeblood that keeps MemesGate thriving.

      .info-item
        %div
          5. Meme Power Rules Everything
        %span
          Memes aren't just jokes — they're the future of culture and communities.
          At MemesGate, we turn that raw meme power into real impact, real growth, and real fun.
          Get in early. Stay chaotic. Become unstoppable.

