.text-muted 
  Empty for now. Page in progress... Stay tuned!

&nbsp;
%div
  🚀 We're working hard on bringing you more updates soon!

&nbsp;
%div
  ✨ Liquidity will be gradually added as the project progresses, ensuring steady growth and stability. Stay tuned for exciting updates, features, and new opportunities as we continue to develop the project!